@page
@model Coders_Airlines.Pages.Flights.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/SlideShow.css" rel="stylesheet" />
</head>
<body>

    @if (@Model.Flight != null)
    {
        var flight = Model.Flight;
        <section class="py-5" style="margin-top: 100px; border-bottom: 1px solid black;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg" alt="..." /></div>
                    <div class="col-md-6">

                        <h2 class="display-5 fw-bolder">From: @flight.From</h2>
                        <h2 class="display-5 fw-bolder">To: @flight.To</h2>


                        <div class="fs-5 mb-5">
                            <h5>Price: $@flight.Price</h5>
                            <h5>Departure: @flight.DepartureDate</h5>
                            <h5>Departure: @flight.DepartureDate</h5>

                        </div>


                        <p class="fs-5 mb-5">Tickets Left: @flight.SeatsLeft</p>
                        <p class="fs-5 mb-5">Type: @flight.ClassType</p>

                        <div class="d-flex">
                            <form>
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("user") || User.IsInRole("administrator")))
                                {
                                    <a asp-page="./Booking" asp-route-id="@Model.Flight.ID" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Buy Ticket</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
                                {
                                    <a asp-page="./Edit" asp-route-id="@Model.Flight.ID" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Edit</a>
                                }

                                <a asp-page="./Index" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Back to List</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>





    }


    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Suggested For You</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @for (int i = 0; i < 4; i++)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img style="height:200px" class="card-img-top" src="@Model.items[i].Thumbnail" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@Model.items[i].Name</h5>
                                    Model: @Model.items[i].ModelYear

                                </div>
                                <div class="text-center">
                                    <!-- Product price-->
                                    City: @Model.items[i].City
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a asp-page="/Cars/Details" asp-route-id="@Model.items[i].ID" class="btn btn-outline-dark mt-auto">View Details</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

















    }

</body>
</html>







