@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Coders_Airlines.Pages.Flights.IndexModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/fc-3.3.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css" />
    <title>Page Title</title>
</head>
<body>



 




    @{
        string[] TableHeaders = new string[] {"ID",
                        "Class Type"
                        ,"From"
                        ,"To"
                        ,"Departure Date"
                        ,"Arrival Date"
                        ,"Seats Left"
                        ,"Price"};
    }

    <div class="table">
        <table id="myTable">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model.Flights)
                        {
                            <tr onclick="window.location = './Flights/Details/?id=@Data.ID'" ; style="cursor: pointer;">
                                <td>@Data.ID</td>
                                <td>@Data.ClassType</td>
                                <td>@Data.From</td>
                                <td>@Data.To</td>
                                <td>@Data.DepartureDate</td>
                                <td>@Data.ArrivalDate</td>
                                <td>@Data.SeatsLeft</td>
                                <td>&#36;@Data.Price</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        </div>



        @if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
        {
            <a asp-page="Create">Create New</a>

        }



        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/fc-3.3.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>




@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Flights[0].From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flights[0].To)
                </th>
                <th>
                    Departure Date
                </th>
                <th>
                    Arrival Date
                </th>
                <th>
                    Class Type
                </th>
                 <th>
                    Seats Left
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flights[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Flights)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatsLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
                    {
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    }
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>*@