@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Coders_Airlines.Pages.Admin.AdminApartmentRentalModel

@{
    ViewData["Title"] = "AdminApartmentRental";
}

<h1>Rented Apartments</h1>

    <form class="form-inline" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group ">
            <label class="control-label" style="padding:5px">From</label>
            <input type="date" name="dateFrom" class="form-control" />
        </div>
        <div class="form-group col-lg-4">
            <label class="control-label" style="padding:5px">To</label>
            <input type="date" name="dateTo" class="form-control" />
        </div>
        <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" asp-page="/Admin/RentedApartments/AdminApartmentRental"/>
        </div>
    </form>
    <br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].Apartment.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].Apartment.RentalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentRental[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApartmentRental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.RentalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
