@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Coders_Airlines.Pages.Apartments.ApartmentRentalModel
@{
}
<img src="@Model.Apartment.Thumbnail" width="150" height="100">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">From</label>
                <input asp-for="@Model.ApartmentRental.From" class="form-control" />
                
            </div>
            <div class="form-group">
                <label  class="control-label">To</label>
                <input asp-for="@Model.ApartmentRental.To" class="form-control" />

            </div>
            <input type="submit" value="Check" class="btn btn-primary" asp-page-handler="check" asp-route-id="@Model.Apartment.ID" />
        
        @if(Model.ApartmentRental != null)
        {
            if(Model.ApartmentRental.Price !=0)
            {


                <label asp-for="@Model.ApartmentRental.Price" class="control-label"></label>
                <span>"@Model.ApartmentRental.Price" </span>
                 
                <input type="submit" value="Rent" class="btn btn-primary" asp-route-id="@Model.Apartment.ID" />

            
            }
            else
            {
            <span>This Apartment is not available at this time </span>
            }
        }
        </form>