@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Coders_Airlines.Pages.Cars.DetailsModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/SlideShow.css" rel="stylesheet" />
</head>
<body>

    @if (@Model.Car != null)
    {
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Car.Thumbnail" alt="..." /></div>
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bolder">@Model.Car.Name</h1>
                        <div class="fs-5 mb-5">
                            <h5>Rent/Day: $@Model.Car.RentalCost</h5>
                            <h5>Model Year: @Model.Car.ModelYear</h5>
                            <h5>City: @Model.Car.City</h5>
                        </div>


                        <p class="fs-5 mb-5">@Model.Car.Description</p>
                        <div class="d-flex">
                            <form method="post">
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("user") || User.IsInRole("administrator")))
                                {
                                    <a asp-page="./Details" asp-route-id="@Model.Car.ID" asp-route-rent="1" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Rent</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
                                {
                                    <a asp-page="./Edit" asp-route-id="@Model.Car.ID" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Edit</a>
                                    <a asp-page-handler="Delete" asp-page="Details" asp-route-id="@Model.Car.ID" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Delete</a>

                                    <div class="d-flex" style="margin:10px 0 10px 0">

                                        <input asp-for="@Model.CarImg.URL" class="form-control">
                                        <button type="submit" value="AddImg" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black;margin-left:10px;" asp-page-handler="AddImg" asp-route-id="@Model.Car.ID">Add Image</button>
                                    </div>

                                }
                                <a asp-page="./Index" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black">Back to List</a>

                            </form>

                        </div>
                        @if (@Model.Rent)
                        {
                            <form method="post" style="margin:20px">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">From</label>
                                    <input asp-for="@Model.CarRental.From" class="form-control" />

                                </div>
                                <div class="form-group">
                                    <label class="control-label">To</label>
                                    <input asp-for="@Model.CarRental.To" class="form-control" />

                                </div>

                                <input class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black;margin:10px" type="submit" value="Check" class="btn btn-primary" asp-page-handler="check" asp-route-id="@Model.Car.ID" />



                                @if (Model.CarRental != null)
                                {
                                    if (Model.CarRental.Price != 0)
                                    {
                                        <label asp-for="@Model.CarRental.Price" class="control-label"></label>
                                        <span>"$@Model.CarRental.Price" </span>
                                        <input type="submit" value="Rent" class="btn btn-outline-dark flex-shrink-0" style="text-decoration:none; color:black;" asp-route-id="@Model.Car.ID" />
                                    }
                                    else
                                    {
                                        <span>This Car is not available at this time </span>
                                    }
                                }
                            </form>
                        }

                    </div>
                </div>
            </div>
        </section>

        @if (Model.Imgs.Count != 0)
        {
            <section class="gallery">
                <div class="carousel">

                    @for (int i = 0; i < Model.Imgs.Count; i++)
                    {
                        string s = $"image{i + 1}";
                        ;
                        @if (i == 0)
                        {
                            <input type="radio" id="@s" name="gallery-control" checked>
                        }
                        else
                        {
                            <input type="radio" id="@s" name="gallery-control">

                        }

                    }


                    <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control" />

                    <div class="wrap">
                        @foreach (var item in Model.Imgs)
                        {
                            <figure>
                                <label for="fullscreen">
                                    <img src="@item.URL" />
                                </label>
                            </figure>
                        }
                    </div>


                    <div class="thumbnails">
                        <div class="slider"><div class="indicator"></div></div>


                        @for (int i = 0; i < Model.Imgs.Count; i++)
                        {
                            string s = $"image{i + 1}";
                            <label for="@s" class="thumb" style="background-image: url('@Model.Imgs[i].URL')"></label>

                        }

                    </div>
                </div>
            </section>

        }


        @if (Model.items != null && Model.items.Count != 0)
        {
            <!-- Related items section-->
            <section class="py-5 bg-light">
                <div class="container px-4 px-lg-5 mt-5">
                    <h2 class="fw-bolder mb-4">Suggested For You</h2>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height:200px" class="card-img-top" src="@Model.items[i].Thumbnail" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@Model.items[i].Name</h5>
                                            Model: @Model.items[i].ModelYear

                                        </div>
                                        <div class="text-center">
                                            <!-- Product price-->
                                            City: @Model.items[i].City
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a asp-page="/Cars/Details" asp-route-id="@Model.items[i].ID" class="btn btn-outline-dark mt-auto">View Details</a></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>

        }
    }

    </body>
</html>
